
div{

  width:100px;
  height:100px;
}
.red{
background-color:red;

}
.blue{
position: absolute  ;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color:blue;
}
.green{

 background-color:green;
}
.grey{
overflow: visible;
  bottom:30px;
background-color:grey;

}







/* img {
position: absolute;
clip: rect(0px,60px,200px,10px); 
}  */
/*(top, right, bottom, left)*/
